.container-fluid{
  background-image: url(../../../../../assets/img/bacground1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

form {
  font-family: "Poppins", sans-serif;
}


label{
  text-align: center;
  font-size: 20px;
  color: #cccccc;
  margin: 0;
}

h3 {
  margin: 0 auto;
  margin-right: 40%;
  font-weight: bold;
  color: #dce8f1;
}


.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 65px;
}

.formContent {
  border-radius: 15px 5px 15px 5px;

  padding: 20px;

  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);

  width: 50%;
}



button {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  text-transform: uppercase;
  font-size: 18px;
  height: 60px;
  width: 48%;
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  border-radius: 10px 5px 10px 5px;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

button:hover  {
  background-color: #39ace7;
}

button:active  {

  transform: scale(0.95);
}

.botoes{
  margin-top: 20px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}




input[type=text], input[type=number], input[type=email], input[type=password], input[type=file], select{
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 15px 5px;
  width: 100%;
  border: 2px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
  border-radius: 15px 5px 15px 5px;
}

input[type=text], input[type=number], input[type=email], input[type=password], input[type=file], select:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text], input[type=number], input[type=email], input[type=password], input[type=file], select:placeholder {
  color: #cccccc;
}



input[type=radio]{

  position: absolute;
  z-index: -1;
  opacity: 0;
}


input[type=radio] + label {

  position: relative;
  cursor: pointer;
  padding-left: 30px;
}

input[type=radio] + label::before {

  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  bottom: 5px;
  border: solid 2px;
  vertical-align: bottom;
  border-radius: 50%;
}


input[type=radio]:checked + label::after {

  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 10px;
  height: 20px;
  border-right: solid 3px green;
  border-bottom: solid 3px green;
  transform: rotate(45deg);
}


/* .radio{
  display: flex;
  gap: 2rem;
} */




/* ANIMAÇÃO */

.fadeInDown {

  animation-name: fadeInDown;

  animation-duration: 1s;

  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;

    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;

    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}


@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  animation:fadeIn ease-in 1;

  animation-fill-mode:forwards;

  animation-duration:1s;
}

.fadeIn.first {

  animation-delay: 0.4s;
}

.fadeIn.second {

  animation-delay: 0.6s;
}

.fadeIn.third {

  animation-delay: 0.8s;
}

.fadeIn.fourth {

  animation-delay: 1s;
}


.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}






