<div class="home2">

  <div class="fundo">

    <div class="card animacao1">
      <div class="card-body">

        <h3 class="card-title">Inovação digital para nos reiventarmos todos os dias</h3>
        <h5 class="card-subtitle mb-2 text-muted">Sistema de integração de empresas</h5>

      </div>
    </div>

    <div class="botao animacao2">
      <button routerLink="/holerites">Holerite</button>
    </div>

  </div>




  <!-- Colocar if para acesso esclusivo do admin -->
  <div class="fundo">

    <div class="card animacao3">
      <div class="card-body">

        <h3 class="card-title">Todo dia é dia de mudança, seja a mudança de alguém hoje</h3>
        <h5 class="card-subtitle mb-2 text-muted">Gerenciamento da Organização</h5>

      </div>
    </div>

    <div class="botao animacao4">
      <button routerLink="/setores">Setores</button>
    </div>

  </div>

</div>
















