<div class="container-fluid">
  <h3 class="card-title">Cargos</h3>

  <div class="botao">
    <button routerLink="/cadastrar/cargo" class="btn btn-primary">
      Cadastrar Cargo
    </button>
  </div>

  <div class="botao botao2">
    <button routerLink="/setores" class="btn btn-primary">Voltar</button>
  </div>

  <div class="card-position">
    <div class="card mt-4" *ngFor="let cargo of cargos">
      <div class="card-body">

        <div class="codigo-cargo">

          <div>
            <h5 class="mb-3">Código</h5>
            <p>{{ cargo.id_cargo }}</p>
          </div>

          <div>
            <h5 class="mb-3">Cargo</h5>
            <p>{{ cargo.nome_cargo }}</p>
          </div>

        </div>

        <div class="atribuicao-icon">
          <div class="atribuicao">
            <h5 class="mb-3">Atribuição</h5>
            <p>{{ cargo.atribuicao_cargo }}</p>
          </div>

          <div class="icoAcoes">
            <p>
              <i
                class="fa-solid fa-users"
                routerLink="/cargo/funcionario/{{ cargo.id_cargo }}"
                title="Funcionarios"
              ></i>
            </p>

            <p>
              <i
                class="fas fa-edit text-info"
                routerLink="/editar/cargo/{{ id_setor }}/{{ cargo.id_cargo }}"
                title="Editar"
              ></i>
            </p>

            <p>
              <i
                class="fas fa-trash-alt text-danger"
                routerLink="/excluir/cargo/{{ cargo.id_cargo }}"
                title="Excluir"
              ></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
